<div class="row my-friends-div-table">
  <div class="table">
    <div class="thead">
      <div class="tr row">
        <div class="th col-sm-2">Tag</div>
        <div class="th col-sm-4">Name</div>
        <div class="th col-sm-2">Date Added</div>
        <div class="th col-sm-2"></div>
        <div class="th col-sm-2"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
<% @friends.each do |friend| %>
  <%= bootstrap_form_for(friend, url:(friends_path+"/#{friend.id}"), layout: :horizontal) do |f| %>
    <div class="xs-col-12">
    <div class="my-friends-div-table">
      <div class="table">

        <div class="tbody">
          
          <div class="tr row" id="<%= "first-row" if friend.id == @friends.first.id %>">
          
            <div class="td col-sm-2">
              <%= f.text_field :tag, hide_label: true, placeholder: "@Tag" %>
            </div>
            <div class="td col-sm-4">
              <%= friend.receiving_user_type == 'User' ? friend.receiving_user.name : friend.receiving_user.email %>
            </div>
            <div class="td col-sm-2">
              <%= friend.receiving_user.created_at.strftime("%m/%d/%Y") %>
            </div>
            <div class="td col-sm-2">
              <%= f.submit class: "btn btn-default btn-xs", method: :patch, name:"Update Button", :data => {:disable_with => 'Submitting...'} %>
            </div>
            <div class="td col-sm-2">
              <%= button_to("Delete friend", (friends_path+"/#{friend.id}/eatshit"), name:"Delete Button", class:"btn btn-default btn-xs", method: :patch, data: {confirm: "Do you really want to end your friendship? They'll likely never forgive you." }) %>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  <% end %>
<% end %>
</div>

<!-- Add a new friend to the table -->
<%= bootstrap_form_tag url:friends_path, layout: :horizontal do |f| %>
  <div class="row">
    <div class="xs-col-12">
      <div class="my-friends-div-table">
        <div class="table">
          <div class="tbody">
            <div class="tr row" id="<%= "first-row" if @friends.nil? %>">
                <div class="td col-sm-2">
                  <%= f.text_field :tag, hide_label: true, placeholder:"@Tag", title:"Must start with an @ symbol" %>
                </div>
                <div class="td col-sm-4">
                  <%= f.email_field :email, hide_label: true, placeholder: "their_email@gmail.com", class:"remove-left-padding" %>
                </div>
                <div class="td col-sm-2">
                  <%= button_tag(class: "btn btn-success btn-xs", :data => {:disable_with => 'Submitting...'}) do %>
                                  <i class='fa fa-hand-o-left'></i>  Add a New Friend!
                                <% end %>
                </div>
                <div class="td col-sm-2"></div>
                <div class="td col-sm-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
